.custom-navbar-toggle {
  color: #fa586b !important;
  background-color: #333 !important;
  border:  2px solid #fa586b !important;
}
.customc{
  color: #fa586b !important;
}
span.navbar-toggler-icon {
  color: #fa586b !important;
}
.progress-bar-white .progress-bar {
  background-color: white !important;
}
.flex-nowrap {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.flex-nowrap::-webkit-scrollbar {
  display: none;
}