.custom-navbar-toggle {
  color: #fa586b !important; /* Cambia il colore del testo */
  background-color: #333 !important; /* Cambia il colore dello sfondo */
  border:  2px solid #fa586b !important; /* Cambia il colore del bordo */
}
.customc{
  color: #fa586b !important;
}
span.navbar-toggler-icon {
  color: #fa586b !important;
}
.progress-bar-white .progress-bar {
  background-color: white !important; /* Colore della barra */
}